.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: auto;
  width: 400px;
  background: rgba(255,255,255,1);
  border-radius: 3px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}
